header > div > h1 {
    width: 100%;
    text-align: center;
    color: var(--blue-shade3);
    padding: 1em 0;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header > div > div > h2 {
    margin-top: .5em;
}
header > div > div > h2.hidden {
    display: none;
}
#btn--farm:disabled {
    filter: grayscale();
}
#btn--shop.hidden,
#btn--shop-close.hidden,
#btn--farm.hidden,
#btn--farm-close.hidden {
    display: none;
}

#btn--shop,
#btn--shop-close,
#btn--farm,
#btn--farm-close {
    background: url("../assets/spritesheet_icons.png") 0 -256px;
    min-width: 128px;
    max-width: 128px;
    height: 128px;
    border: 0;
    outline: 0;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn--shop > img,
#btn--shop-close > img,
#btn--farm > img,
#btn--farm-close > img {
    object-fit: none;
    width: 64px;
    height: 64px;
    margin-bottom: 1em;
}
#btn--shop > img {
    object-position: -64px 0;
}
#btn--farm > img {
    object-position: 0 0;
}
#btn--shop-close,
#btn--farm-close {
    font-size: 2em;
    text-align: center;
    color: var(--brown-shade1)
}