header > div > h1 {
    width: 100%;
    text-align: center;
    color: var(--blue-shade3);
    padding: 1em 0;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#btn--farm:disabled {
    display: none;
}