main {
    margin: auto;
}

section#vc--clicker,
section#vc--farm,
section#vc--shop {
    display: none;
    padding: 1em;
}
section#vc--farm.active,
section#vc--shop.active {
    display: block;
}

/*
VIEW CLICKER
*/

#vc--clicker.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#vc--clicker > #display--tp-roll--container > button {
    border: 0;
    outline: 0;
    background-color: transparent;
    z-index: 10;
    background-color: transparent;
    outline: none;
    border: none;
    padding: .75em;
    transform: scale(1.4);
    transition: transform .1s ease-in-out;
}
#vc--clicker > #display--tp-roll--container > button:active {
    transform: scale(1.3);
}
#vc--clicker > #display--tp-roll--container > p {
    position: absolute;
    z-index: 5;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: var(--brown-shade2);
    animation: fadeAway 1.5s 1;
}

@keyframes fadeAway {
    100% {
        top: 20%;
        opacity: 0;
    }
}

/*
VIEW FARM
*/

#farm-container {
    position: relative;
    width: 100%;
}
#canvas-shadow-layer,
#canvas-tree-layer {
    position: absolute;
    left: 0;
    z-index: 5;
    top: -16px;
}
#canvas-tree-layer {
    z-index: 6;
}
#farm-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
#farm-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
#farm-controls > * {
    margin: 1em;
    width: 100%;
}
#farm-controls > *:first-child {
    margin-top: 0;
}
#farm-controls > *:last-child {
    margin-bottom: 0;
}



/*
GAME STATUS BAR
*/

footer > #game--status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
footer > #game--status > * {
    width: calc(100% / 3);
    padding: 1em;
}
#price-per-roll-container > p {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding: .45em;
    width: 100%;
    text-align: center;
}
#display--price--per-roll {
    margin: 0 1em;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}









section.active button {
    padding: .75em;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    background-color: var(--darkGray);
    border-radius: 5px;
    border: 0;
    outline: none;
    color: white;
    transition: background-color .3s ease-in-out, color .4s ease-in-out, transform .1s ease-in-out;
}
section.active button.cta {
    color: black;
    background-color: var(--green-shade2);
}
section.active button:disabled {
    background-color: var(--gray);
    color: var(--darkGray);
}
section.active button:active {
    transform: scale(.95);
}



#display--shop--products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}
#display--shop--products > li {
    width: 100%;
    padding: 1em;
    border-bottom: 2px solid var(--blue-shade3);
}
#display--shop--products > li:last-child {
    border-bottom: none;
}

.loading-container {
    width: 100%;
    height: 1em;
    transition: width .3s ease-in-out;
    margin-top: auto;
    border-radius: 3px;
    padding: .125em;
    border: 2px solid wheat;
}
.loading {
    height: 100%;
    background-color: brown;
    transition: width .3s ease-in-out;
    border-radius: 2px;
}



