main {
    margin: 0 auto;
    flex-basis: auto;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#vc--clicker,
section#vc--farm,
section#vc--shop {
    display: none;
    padding: 1em;
}
section#vc--farm.active,
section#vc--shop.active {
    display: block;
}

/*
VIEW CLICKER
*/

#vc--clicker.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100%;
    flex-basis: auto;
    flex: 1;
}
#price-per-roll-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
#vc--clicker > #display--tp-roll--container {
    background-color: rgba(242,242,238, .4);
    border-radius: 50%;
    padding: calc(3em + 5px) 3em calc(3em - 5px) 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
}
#vc--clicker > #display--tp-roll--container:active {
    background-color: rgba(242,242,238, .2);
}
#vc--clicker > #display--tp-roll--container > button {
    border: 0;
    outline: 0;
    background-color: transparent;
    z-index: 10;
    background-color: transparent;
    outline: none;
    border: none;
    transform: scale(1.6);
    transition: transform .1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s ease-in-out, transform .1s ease-in-out;
}
#vc--clicker > #display--tp-roll--container > button:disabled {
    transform: scale(1.35);
    filter: grayscale();
}
#vc--clicker > #display--tp-roll--container > button > img {
    object-fit: none;
    width: 64px;
    height: 64px;
    object-position: -192px 0;
}
#vc--clicker > #display--tp-roll--container > button:active {
    transform: scale(1.3);
}
#vc--clicker > #display--tp-roll--container > p {
    position: absolute;
    z-index: 5;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: var(--brown-shade2);
    animation: fadeAway 1.5s 1;
}

@keyframes fadeAway {
    100% {
        top: 20%;
        opacity: 0;
    }
}

/*
VIEW FARM
*/

#farm-container {
    position: relative;
    width: 100%;
}
#canvas-shadow-layer,
#canvas-tree-layer {
    position: absolute;
    left: 0;
    z-index: 5;
    top: -16px;
}
#canvas-tree-layer {
    z-index: 6;
}
#farm-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
#farm-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 3em 0;
}
#farm-controls > * {
    margin: 1em;
    width: 100%;
}
#farm-controls > *:first-child {
    margin-top: 0;
}
#farm-controls > *:last-child {
    margin-bottom: 0;
}
#farm-controls > button {
    border: 0;
    background: url("../assets/spritesheet_icons.png") 0 128px;
    min-width: 256px;
    max-width: 256px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    text-shadow: 0 0 1px var(--blue-shade3);
}
#farm-controls > button:disabled {
    filter: grayscale();
}
#farm-controls > button > p {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding: .25em 0;
}
#farm-controls > button > img {
    width: 64px;
    height: 64px;
    object-fit: none;
    margin-bottom: .5em;
}
#farm-controls > button > img.plant {
    object-position: -128px 0;
}
#farm-controls > button > img.harvest {
    object-position: -256px 0;
}

/*
VIEW SHOP
*/

#display--shop--products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
}
#display--shop--products > li {
    background: url("../assets/spritesheet_icons.png") -512px -64px;
    width: 512px;
    height: 192px;
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.25em;
}
#display--shop--products > li > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    position: relative;
}
#display--shop--products > li > div:last-child {
    margin-left: 1em;
    width: 100%;
}
#display--shop--products > li > div > img {
    width: 64px;
    height: 64px;
    object-fit: none;
    z-index: 10;
    margin: calc((100px - 64px) / 2);
}
#display--shop--products > li > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: url("../assets/spritesheet_icons.png") -384px -256px;
    z-index: 8;
}
#display--shop--products > li > div > button {
    margin-top: auto;
    margin-left: auto;
    background: url("../assets/spritesheet_icons.png") -257px -385px;
    min-width: 100px;
    max-width: 100px;
    height: 44px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: .75em;
}
#display--shop--products > li > div > button:disabled {
    filter: grayscale();
}
#display--shop--products > li > div > h3 {
    line-height: 1.5em;
    color: var(--brown-shade1)
}
#display--shop--products > li > div > p {
    color: black;
    font-weight: 400;
}
#display--shop--products > li > div > p:last-child {
    margin-top: auto;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .75em;
    min-width: 100px;
    max-width: 100px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: url("../assets/spritesheet_icons.png") -257px -385px;
    filter: hue-rotate(120deg);
}
#display--shop--products > li > div > p:last-child > span {
    padding: 0;
    margin: 0;
    color: white;
}

.add-tree {
    object-position: -256px 0;
}
.add-factory {
    object-position: -576px 0;
}
.upgrade-factory {
    object-position: -640px 0;
}
.upgrade-treestorage {
    object-position: -704px 0;
}
.upgrade-tpstorage {
    object-position: -768px 0;
}
.renewable-resources {
    object-position: -1024px 0;
}
.marketing-colorfull {
    object-position: -192px 0;
    filter: saturate(300%) hue-rotate(200deg);
}
.marketing-multisheet {
    object-position: -960px 0;
}
.tp-pack {
    object-position: -896px 0;
}
.add-treefarm {
    object-position: 0 0;
}
.upgrade-treefarm {
    object-position: -832px 0;
}

/*
GAME STATUS BAR
*/

footer > #game--status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 1em 0;
    font-size: .85em;
    border-bottom: 3px solid #b38d59;
    margin-bottom: 1em;
}
footer > #game--status > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("../assets/spritesheet_icons.png") -256px -64px;
    min-width: 256px;
    max-width: 256px;
    height: 192px;
}
#price-per-roll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../assets/spritesheet_icons.png") 0 -384px;
    min-width: 256px;
    max-width: 256px;
    height: 128px;
    color: var(--brown-shade1);
    font-size: .85em;
}
#game--status > div > img {
    margin: 1.5em 0;
}

#game--status > div > ul {
    list-style-type: none;
}
#game--status > div p > span,
#game--status > div li {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding: .25em;
    color: var(--brown-shade1);
    text-shadow: none;
}
#game--status > div span,
#game--status > div > ul > li > span,
#display--price--per-roll {
    color: white;
    text-shadow: 0 0 1px var(--blue-shade3);
    padding: 0 0 0 .5em;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
#price-per-roll-container > p {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding: .45em;
    width: 100%;
    text-align: center;
}

footer > button {
    background: url("../assets/spritesheet_icons.png") -257px -448px;
    min-width: 256px;
    max-width: 256px;
    height: 64px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: white;
}

#status--container--money > img,
#status--container--tprolls > img,
#status--container--datetime > img,
#status--container--factories > img,
#status--container--trees > img {
    width: 64px;
    height: 64px;
    object-fit: none;
    margin-bottom: .5em;
}
#status--container--money > img {
    object-position: -448px 0;
}
#status--container--tprolls > img {
    object-position: -192px 0;
}
#status--container--datetime > img {
    object-position: -320px 0;
}
#status--container--factories > img {
    object-position: -512px 0;
}
#status--container--trees > img {
    object-position: -384px 0;
}

#game--datetime--display,
#game--datetime--controls,
#game--price--controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#game--datetime--controls > button,
#game--price--controls > button {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    background: url("../assets/spritesheet_icons.png") -192px -128px;
    border: 0;
    outline: none;
    max-width: 64px;
    min-width: 64px;
    height: 64px;
    transform: scale(.75);
    color: white;
    transition: color .3s ease-in-out, transform .1s ease-in-out;
}
#game--datetime--controls > button:disabled,
#game--price--controls > button:disabled {
    transform: scale(.65);
    filter: grayscale();
    color: rgb(163, 163, 163);
}
#game--datetime--display > p > span,
#game--datetime--controls > span {
    padding: .6em;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    margin: 0 .5em;
}













/*
section.active button {
    padding: .75em;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    background-color: var(--darkGray);
    border-radius: 5px;
    border: 0;
    outline: none;
    color: white;
    transition: background-color .3s ease-in-out, color .4s ease-in-out, transform .1s ease-in-out;
}
section.active button.cta {
    color: black;
    background-color: var(--green-shade2);
}
section.active button:disabled {
    background-color: var(--gray);
    color: var(--darkGray);
}
section.active button:active {
    transform: scale(.95);
}
*/