* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);*/
    background-color: #e4e4e4;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    transition: background-color .4s ease-in-out;
    overflow-y: scroll;
}
body.shop {
    background: none;
    background-color: #e7d5bd;
}
body.farm {
    background: none;
    background-color: #b7eaff;
}
body > *:not(aside) {
    width: 100%;
    max-width: 90rem;
}
h1 {
    color: var(--brown-shade1);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
p {
    font-weight: 300;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


button:hover {
    cursor: pointer;
}
button:disabled:hover {
    cursor: not-allowed;
}

button {
    transform: scale(1);
    transition: transform .2s ease-in-out;
}
button:active {
    transform: scale(.92);
}
button:disabled:active {
    transform: scale(.98);
}