@media screen and (max-width: 1365px) {
    body {
        width: 50rem;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.25em;
        text-align: justify;
        margin: 0 2em;
    }
    #farm-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    #farm-controls {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #farm-controls > * {
        margin: 0 1em;
    }

    header {
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding: 1em;
        max-width: 100vw;
    }
    main {
        margin-top: 10em;
    }
    #vc--farm > #farm-container > #farm-wrapper {
        width: 100%;
    }
    #vc--farm > #farm-container > div > canvas {
        transform: scale(.8);
    }
    #canvas-shadow-layer,
    #canvas-tree-layer {
        position: absolute;
        left: -82px;
        z-index: 5;
        top: -16px;
    }
}

@media screen and (max-width: 935px) {
    body {
        width: 38rem;
        margin: 0 auto;
    }
    h1 {
        font-size: .9em;
    }   
    #vc--clicker {
        min-height: 500px;
    }
    #price-per-roll-container {
        bottom: 0;
        right: calc((100% - 256px) / 2);
    }
    #farm-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #farm-controls {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100vw;
    }
    #farm-controls > * {
        margin: 0 0;
    }
    #vc--farm > #farm-container > #farm-wrapper {
        margin-top: -6em;
    }
    #vc--farm > #farm-container > div > canvas {
        transform: scale(.6);
    }
    #canvas-shadow-layer,
    #canvas-tree-layer {
        position: absolute;
        left: -210px;
        z-index: 5;
        top: -16px;
    }
}

@media screen and (max-width: 542px) {
    header {
        position: relative;
    }
}